@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .nav-shark li{
    list-style-type: none;
    color: #fff;
}
.nav-shark{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
  font-size: 25px;
  gap: 30px;
}
.header h1 {
    font-size: 2rem;
    margin-bottom: 0;
    color: #ABDCFF;
    font-family: "Agdasima", sans-serif;
}

  main {
    flex: 1; /* Ocupa o espaço restante entre o header e o footer */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .containerCharts{
    display: flex;
  }
  .chartAcuracia, .chartRecall, .chartPrecisao{
    margin: 1rem;
  }
  .metricas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .buttons {
    display: flex;
    gap: 0.5rem;
    width: auto;
  }
  button {
    transition: all 0.1s ease-in-out;
    width: max-content;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
    border-radius: 100rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgb(33, 123, 226);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    &:hover {
      filter: brightness(0.9);
      box-shadow: 0 0px 2px rgba(0, 0, 0, 0.15);
    }
  }
  
  .matriz-confusao {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(219, 219, 219);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    h4 {
      padding: 0.25rem 1rem;
    }
    div {
      display: flex;
      flex-direction: row;
      h4 {
        padding: 0.25rem;
        writing-mode: vertical-rl;
        text-orientation: sideways-right;
        border-top: 2px solid rgb(219, 219, 219);
      }
      table {
        border-collapse: collapse;
        td,
        th {
          border-top: 2px solid rgb(219, 219, 219);
          border-left: 2px solid rgb(219, 219, 219);
          padding: 0.25rem;
        }
      }
    }
  }
  a {
    text-decoration: none;
  }
  .footer {
    background-color: #02407e;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-link {
    color: #58a6ff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-link:hover {
    text-decoration: underline;
}
  